[{sasl,[{errlog_type,error}]},
 {nerves,[{firmware,[{rootfs_overlay,<<"rootfs_overlay">>}]}]},
 {shoehorn,[{init,[nerves_runtime]},{app,nerves_basic_skeleton}]},
 {nerves_firmware_ssh,
     [{authorized_keys,
          [<<"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDUVG1LztEBCTHJzFs2/Xq+erLg0iOFrcTB2BKSsEwZcQ+f4QYWvzyE2IN8byeGJu9GdKo/FUgiTlv4vvapI1JySWSgHuP6LzO7PfWzFRp8zJTdZODA3n8BIr2Rh2NY/cwTUkIoF4P7VJ1OPWGa3F/Xb/FNxPY+h407avDVV5B5JDH9/wMsw8ul6KpDvJV4m6Csyq/q6VU2N+7CoNx5KRLH3eVGr0VkNglFrdWUj5ZKFNcz+bSfM9AobdAN2Mg31VCdtjUUgdLegl8zZLMHTAaTTaZ6ZL1a83ElBh2IbRm/3h/XGiLSw6ZxaH4bTarNVVpwzGqoW/pJ8Ab3pMYHUKI/5Hgl6RxjhVYvXAixe6ighiKVqvfxTLQ8TnSTBIPnfxsPlqHecNNMXJrSPg+hMMWK6VTSWFA6mCW1VjDWF/DiBV21Yz1qfbdMgX5/8qV2UgI8+nkCSDpLTGjYjiyYa/jeO/kW4uF5SJbR2qkFo5YZVG4WwNqV+3jEoH19jFbhu6LzMtYzyr7Wg26st2M0rIPdApE3NZUl7kjYiwj031oqmp4G7NCRQ4AGIkk4RwizXweUz54fkMy1fkDpnaBzy3de4ZH4yoMyNdRU6lXLrrFFXa8WPG04y/gVVr4dpR3DLeQ55bU/aZJ7iMtyf2YBAlmHQIRlo49W5uCrriQXxlN6iw== pdgonzalez872@gmail.com\n">>]}]},
 {nerves_basic_skeleton,[{interface,wlan0},{port,4001}]},
 {nerves_init_gadget,
     [{node_name,base_target},
      {mdns_domain,<<"nerves_base.local">>},
      {address_method,dhcp},
      {ifname,<<"wlan0">>}]},
 {nerves_network,
     [{default,
          [{wlan0,
               [{ssid,<<"ButlerKasey">>},
                {psk,<<"camino12">>},
                {key_mgmt,'WPA-PSK'}]},
           {eth0,[{ipv4_address_method,dhcp}]}]}]},
 {ui,[{'Elixir.UiWeb.Endpoint',
          [{url,[{host,<<"localhost">>}]},
           {http,[{port,80}]},
           {secret_key_base,
               <<"ZzL36EhVtO84rW4daeMWdXqodXkG63p02LpKms5selr8BgK4ud4N42B0YuOUx+LX">>},
           {root,<<".">>},
           {server,true},
           {render_errors,
               [{view,'Elixir.UiWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Nerves.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {code_reloader,false}]}]},
 {logger,[{backends,['Elixir.RingLogger']},{level,debug}]}].
